/* Estilos generales */
body {
     
     font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #87ceeb, #ff4500); /* Simulando cielo y calor */
    color: white;
    text-align: center;
    padding: 50px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
}

/* Título del test */
h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos de la pregunta */
#question {
    font-size: 1.5em; /* Aumenta el tamaño de la pregunta */
    color: black; /* Pone el texto de la pregunta en negro */
    margin-bottom: 20px;
}

/* Estilos de los botones de respuesta */
.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.answer-btn:hover {
    background-color: #180e8a;
}

.answer-btn.correct {
    background-color: #28a745;
}

.answer-btn.incorrect {
    background-color: #dc3545;
}

.answer-btn.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Puntaje */
#score-container {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

